--- 
title: "Index"
layout: main
styles:
  - "/assets/styles/index.css"
---

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-auto mx-auto">
        <div class="horse-avatar">
          <img src="assets/img/horse_1.jpg" alt="Horse face">
        </div>
      </div>
      <div class="col jumbo-text">
        {% capture jumbo_text %}{% include_relative index_jumbo.md %}{% endcapture %} 
        {{ jumbo_text | markdownify }}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="display-4 mb-3">Projects</h1>
  <hr> 
  {% for section in site.data.projects %}
  <h2 class="display-5 mb-2">{{ section.name }}</h2>
  <div class="d-flex flex-wrap justify-content-start projects">
    {% for project in section.projects %}
    <a href="{{ project.href }}" class="card">
      {% if project.image_href %}
      <img class="card-img-top" src="{{ project.image_href }}" alt="Card image cap"> 
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        {% if project.subtitle %}
        <h6 class="card-subtitle mb-2 text-muted">{{ project.subtitle }}</h6>
        {% endif %} 
        {% if project.description %}
        <p class="card-text">{{ project.description }}</p>
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
  <hr> 
  {% endfor %}
</div>